name: Bazel (experimental)
on:
  workflow_dispatch: {}
concurrency:
  group: concurrency-group::${{ github.workflow }}::${{ github.event.pull_request.number > 0 && format('pr-{0}', github.event.pull_request.number) || github.ref_name }}${{ github.ref_name == 'main' && format('::{0}', github.run_id) || ''}}
  cancel-in-progress: ${{ github.ref_name != 'main' }}
jobs:
  test:
    strategy:
      fail-fast: !!bool 'false'
      matrix:
        include:
        - os: macos-15-xlarge
          target: aarch64-apple-darwin
        - os: macos-15-xlarge
          target: x86_64-apple-darwin
        - os: ubuntu-24.04-arm
          target: aarch64-unknown-linux-gnu
        - os: ubuntu-24.04
          target: x86_64-unknown-linux-gnu
        - os: ubuntu-24.04-arm
          target: aarch64-unknown-linux-musl
        - os: ubuntu-24.04
          target: x86_64-unknown-linux-musl
    runs-on: ${{ matrix.os }}
    name: Local Bazel build on ${{ matrix.os }} for ${{ matrix.target }}
    steps:
    - uses: actions/checkout@v6
    - name: Install DotSlash
      uses: facebook/install-dotslash@v2
    - name: Make DotSlash available in PATH (Unix)
      if: runner.os != 'Windows'
      run: cp "$(which dotslash)" /usr/local/bin
    - name: Make DotSlash available in PATH (Windows)
      if: runner.os == 'Windows'
      shell: pwsh
      run: Copy-Item (Get-Command dotslash).Source -Destination "$env:LOCALAPPDATA\Microsoft\WindowsApps\dotslash.exe"
    - name: Set up Bazel
      uses: bazelbuild/setup-bazelisk@v3
    - name: Configure Bazel startup args (Windows)
      if: runner.os == 'Windows'
      shell: pwsh
      run: '# Use a very short path to reduce argv/path length issues.

        "BAZEL_STARTUP_ARGS=--output_user_root=C:\" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

        '
    - name: bazel test //...
      env:
        BUILDBUDDY_API_KEY: ${{ secrets.BUILDBUDDY_API_KEY }}
        CODEX_BWRAP_ENABLE_FFI: ${{ contains(matrix.target, 'unknown-linux') && '1' || '0' }}
      shell: bash
      run: "bazel $BAZEL_STARTUP_ARGS --bazelrc=.github/workflows/ci.bazelrc test //... \\\n  --build_metadata=REPO_URL=https://github.com/openai/codex.git \\\n  --build_metadata=COMMIT_SHA=$(git rev-parse HEAD) \\\n  --build_metadata=ROLE=CI \\\n  --build_metadata=VISIBILITY=PUBLIC \\\n  \"--remote_header=x-buildbuddy-api-key=$BUILDBUDDY_API_KEY\"\n"
