name: CLA Assistant
on:
  issue_comment:
    types:
    - created
  pull_request_target:
    types:
    - opened
    - closed
    - synchronize
  workflow_dispatch: {}
permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write
jobs:
  cla:
    if: ${{ github.repository_owner == 'openai' }}
    runs-on: ubuntu-latest
    steps:
    - uses: contributor-assistant/github-action@v2.6.1
      if: "(\n  github.event_name == 'pull_request_target' &&\n  (\n    github.event.action == 'opened' ||\n    github.event.action == 'synchronize' ||\n    (github.event.action == 'closed' && github.event.pull_request.merged == true)\n  )\n) ||\n(\n  github.event_name == 'issue_comment' &&\n  (\n    github.event.comment.body == 'recheck' ||\n    github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA'\n  )\n)\n"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        path-to-document: https://github.com/openai/codex/blob/main/docs/CLA.md
        path-to-signatures: signatures/cla.json
        branch: cla-signatures
        allowlist: codex,dependabot,dependabot[bot],github-actions[bot]
